	/*
  	Flaticon icon font: Flaticon
  	Creation date: 12/07/2020 16:02
  	*/

      @font-face {
        font-family: "Flaticon";
        src: url("./Flaticon.eot");
        src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
             url("./Flaticon.woff2") format("woff2"),
             url("./Flaticon.woff") format("woff"),
             url("./Flaticon.ttf") format("truetype"),
             url("./Flaticon.svg#Flaticon") format("svg");
        font-weight: normal;
        font-style: normal;
      }
      
      @media screen and (-webkit-min-device-pixel-ratio:0) {
        @font-face {
          font-family: "Flaticon";
          src: url("./Flaticon.svg#Flaticon") format("svg");
        }
      }
      
      [class^="flaticon-"]:before, [class*=" flaticon-"]:before,
      [class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
        font-family: Flaticon;
              font-size: 20px;
      font-style: normal;
      margin-left: 20px;
      }
      
      .flaticon-facebook:before { content: "\f100"; }
      .flaticon-twitter:before { content: "\f101"; }
      .flaticon-instagram-bosquejado:before { content: "\f102"; }
      .flaticon-enviar:before { content: "\f103"; }
      .flaticon-buscar:before { content: "\f104"; }
      .flaticon-bolso:before { content: "\f105"; }


* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: #128077
}

body {
    display: grid;
    width: 100%;
    grid-template: 90px .5fr .2fr .4fr .3fr .3fr 200px / 33% 34% 33%;
    grid-template-areas:    "header header header"
                            "main main main"
                            "benefits benefits benefits"
                            "goodies goodies goodies"
                            "testimonials testimonials testimonials"
                            "discount discount discount"
                            "footer footer footer";
}


/* General Config Section */
.section_description {
    color: #f28f72;
}
.content {
    margin-left: 15%;
    margin-top: 100px;
    margin-bottom: 100px;
}
h2 {
    font-size: 30px;
    margin-top: 15px;
    margin-bottom: 20px;
}


/* Header section */
header {
    grid-area: header;
    display: grid;
    align-items: center;
    width: 100%;
    height: 90px;
    grid-template-columns: 33% 34% 33%;
    grid-template-areas: "logo nav-bar actions";
}
header figure {
    grid-area: logo;
    height: inherit;
    margin: 5px auto;
}
header figure img{
    height: 90%;
}
header nav {
    grid-area: nav-bar;
    text-align: center;
    margin: auto;

}
header ul {
    display: flex;
    margin: auto;
}
header ul li {
    list-style: none;
    margin: 0 10px;
}
header .options {
    grid-area: actions;
    display: flex;
}

/* Main section */
.main {
    grid-area: main;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
    background-color: #fbd9cf;
    border-radius: 0 0 100px 0;
}
.main .content_main {
    width: 50%;
    margin-left:15%;
    text-align: left;
}
.main .content_main h1 {
    font-size: 40px;
    margin-bottom: 5px;
    color: #128077;
}
.main .content_main p {
    font-size: 20px;
    margin: 30px 0;
    
}
.main .content_main a {
    font-size: 20px;
    padding: 15px;
    background-color: #f68e71;
    color:white;
}
.main .content_main a:hover {
    background-color: #ff6b3e;
}

.main figure {
    width: 100%
}
.main figure img {
    width: 80%;
}

/* Benefits section */
.benefits {
    grid-area: benefits;
}
.benefits ul {
    margin-top: 100px;
    display: flex;
    align-items: center;
}
.benefits ul li {
    max-width: 300px;
    display:flex;
    justify-content: left;
    align-items: center;
    margin: 10px 20px;
    font-size: 1.3em;
}
.benefits ul li p{
    margin: auto 15px;
}


/* Products section */
.goodies {
    grid-area: goodies;
}
.goodies .products {
    margin: 100px auto;
    display: flex;
    justify-content: left;
    align-content: center;
}
.goodies .products .box {
    width: 150px;
    height: 200px;
    border: 1px solid rgba(0, 0, 0, .1);
    margin: 0 20px;
}
.goodies .products .box figure {
    width: 100%;
    height: 100%;
}
.goodies .products .box figure:hover {
    background-color: #fbd9cf;
}
.goodies .products .box figure img {
    width: 100%;
    overflow: hidden;
    transform: translateY(30px);
}
.goodies .products .box .goodie_price{
    color: #f28f72;
}
.goodies .products .box p {
    margin-top: 10px;
}
.goodies a {
    padding: 15px 25px;
    border: 1px solid #128077;
}
.goodies a:hover {
    background-color: #128077;
    color: #fff;
}

/* Testimonials section */
.testimonials {
    grid-area: testimonials;
}
.testimonials .cards {
    display: grid;
    grid-template-columns: repeat(4, 500px);
    grid-gap: 30px;
    height: 250px;
    overflow: auto;
}
.testimonials .cards .card {
    display: grid;
    grid-template-columns: 30% 70%;
    grid-template-rows: 200px;
    grid-template-areas: "image content";
    width: 500px;
    height: 200px;
    border: 1px solid rgba(0, 0, 0, .1);
}
.testimonials .cards .card figure {
    width: 100%;
    height: 100%;
    grid-area: image;
    display: flex;
    justify-content: center;
    align-items: center;
}
.testimonials .cards .card figure img {
    width: 100px;
    height: 100px;
    border-radius: 100%;
}
.testimonials .cards .card .content {
    grid-area: content;
    display: inherit;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 15px;
}
.testimonials .cards .card .content .name_rank {
    display: flex;
    font-size: 1.2em;
    font-weight: 700;
}
.testimonials .cards .card .content .name_rank img {
    width: 20px;
    height: auto;
}
.testimonials .cards .card .content .name_rank p {
    margin: 10px;
}
.testimonials .cards .card .content .name_rank .rank {
    color: #f28f72;

}

/* Discount Section */
.discounts {
    grid-area: discount;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-areas: "image content";
    width: 100%;
    height: 400px;
    text-align: left;
    background-color: #fbd9cf;
    border-radius: 0 0 100px 0;
}
.discounts figure {
    margin: 0;
    grid-area: image;
    height: inherit;
    position: relative;
}
.discounts figure img {
    height: 110%;
    position: absolute;
    bottom: 0;
    right: 0;
}
.discounts .content {
    grid-area: content;
    margin: 15%;
}
.discounts .content h1 {
    font-size: 2.5em;   
}
.discounts .content p {
    margin-top: 15px;
    font-size: 1.4em;   
}
.discounts .content .actions {
    margin-top: 15px;
}
.discounts .content .actions input {
    padding: 10px;
    width: 200px;
    margin-right: 15px;
}
/* Footer section */
footer {
    font-size: 1em;
    grid-area: footer;
    display: grid;
    text-align: center;
    align-items: center;
    width: 100%;
    grid-template-columns: 33% 34% 33%;
    grid-template-areas: "logo links social";
}
footer h1 {
    grid-area: logo;
}
footer ul {
    grid-area: links;
    display: flex;
    list-style: none;
}
footer li {
    margin: auto 15px;
}
footer .social_mdia {
    grid-area: social;
    display: flex;
}