footer
    h1 Better Beans
    ul
        each link in footer_links
            li=link
    div.social_media
        ul
            li 
                a(href="https://fb.me/oskr.epc")
                    i.flaticon-facebook
            li 
                a(href="https://twitter.com/oscarpalominoc")
                    i.flaticon-twitter
            li 
                a(href="https://www.instagram.com/oscar.palominoc/")
                    i.flaticon-instagram-bosquejado