header
    figure
        img(src="/images/"+important_images[2])
    nav
        ul
            each link in links
                a(href="#")
                    li=link
    .options
        ul
            li iconSearch
            li iconStore
            li 
                a(href="#") Login