header
    nav
        ul
            each link in links
                li=link
    .options
        ul
            li iconSearch
            li iconStore
            li 
                a(href="#") Login