
<!-- Variables-->
<!-- Mixins--><!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/style.css">
    <title>Better Beans Clone</title>
  </head>
  <body>
    <header>
      <figure><img src="/images/logo.PNG"></figure>
      <nav>
        <ul><a href="#">
            <li>Products</li></a><a href="#">
            <li>Our Story</li></a><a href="#">
            <li>Blog</li></a><a href="#">
            <li>Contact</li></a>
        </ul>
      </nav>
      <div class="options">
        <ul>
          <li>iconSearch</li>
          <li>iconStore</li>
          <li> <a href="#">Login</a></li>
        </ul>
      </div>
    </header>
    <footer>
      <h1>Better Beans</h1>
      <ul>
        <li>Contact Us</li>
        <li>About</li>
        <li>Terms</li>
        <li>FAQ</li>
      </ul>
      <div class="social_media">
        <ul>
          <li>facebook</li>
          <li>twitter</li>
          <li>instagram</li>
        </ul>
      </div>
    </footer>
  </body>
</html>